<?xml version="1.0"?>
<robot name="so101_follower" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="sso101_$(arg arm_type)_sim" type="system">
    <hardware>
      <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
      <param name="usb_port">$(arg usb_port)</param>
      <param name="joint_config_file">$(arg joint_config_file)</param>
    </hardware>

    <joint name="shoulder_pan">
      <param name="id">1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="shoulder_lift">
      <param name="id">2</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="elbow_flex">
      <param name="id">3</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wrist_flex">
      <param name="id">4</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wrist_roll">
      <param name="id">5</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="gripper">
      <param name="id">6</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
</robot>
