<?xml version="1.0"?>
<robot name="so101_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:if value="${'$(arg dof)' == '6'}">
    <xacro:property name="wrist_roll_id" value="6"/>
    <xacro:property name="gripper_id"    value="7"/>
  </xacro:if>
  <xacro:unless value="${'$(arg dof)' == '6'}">
    <xacro:property name="wrist_roll_id" value="5"/>
    <xacro:property name="gripper_id"    value="6"/>
  </xacro:unless>
  <ros2_control name="so101_$(arg arm_prefix)_isaacsim" type="system">
    <hardware>
      <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
      <param name="joint_commands_topic">/isaacsim/joint_commands</param>
      <param name="joint_states_topic">/isaacsim/joint_states</param>
    </hardware>
    <joint name="shoulder_pan">
      <param name="id">1</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="shoulder_lift">
      <param name="id">2</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="elbow_flex">
      <param name="id">3</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="wrist_flex">
      <param name="id">4</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <xacro:if value="${'$(arg dof)' == '6'}">
    <joint name="wrist_yaw">
      <param name="id">5</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    </xacro:if>
    <joint name="wrist_roll">
      <param name="id">${wrist_roll_id}</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="gripper">
      <param name="id">${gripper_id}</param>
      <param name="model">sts3215</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>
</robot> 